informacje_o_druzynie{
	display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;
}

statystyki_graczy{
	display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 1em 1em;
  background-color: white;
}


statystyki_druzyny{
	display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;
}


gracze{
	
	display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;	
	
}
informacje_o_drafcie{
	display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;
}
informajcje_o_mistrzostwach{
		display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;
}




